@font-face {
    font-family: 'charter-regular';
    src: url(../fonts/charter/Charter\ Regular.otf);
}

@font-face {
    font-family: 'poppins-light';
    src: url(../fonts/poppins/Poppins-Light.ttf)
}

@font-face {
    font-family: 'poppins-medium';
    src: url(../fonts/poppins/Poppins-Medium.ttf)
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../fonts/poppins/Poppins-Bold.ttf);
}


#navbar {
    font-family: 'poppins-light';
}

main, p {
    font-family: 'lora-regular';
}


h1,h2,h3,h4 {
    font-family: 'poppins-bold';
}

.project-section-heading {
    font-family: 'poppins-bold';
}

.project-section-sub-heading {
    font-family: 'poppins-medium';
}

.project-title {
    font-family: 'poppins-medium';
}