.card-container {
    display: flex;
    flex-direction: row;
    margin: 5% 8%;
    justify-content: space-between;
}

.project-card {
    color: #000;
    background-color: rgb(255, 255, 255);
}

.project-card-img {
    width: 300px !important;
}

.project-title {
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 992px) {
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10% 0 !important;
        width: 100%;
    }

    .project-card  {
        margin: 5% 15%;
        width: 70% !important;
    }

    .project-card  img{
        margin: 0 0 !important;
        width: 100% !important;
    }
}
