.full-screen-project-img {
    width: 100%;
}

.project-heading-wrapper {
    margin: 0 10%;
    padding: 5% 0;
    width: 80%;
    color: #000000;
}

.project-section-heading {
    text-align: center;
    font-size: 80px;
}

.project-section-sub-heading {
    text-align: center;
    font-size: 100px;
}



@media (max-width: 992px) {
    .project-heading-wrapper {
        padding: 12% 0;
        width: 100%;
        top: auto; 
        transform: translate(-50%, 0); 
    }
    
    .project-section-heading {
        text-align: center;
        font-size: 100px;
    }
    
    .project-section-sub-heading {
        margin: -10px 0 !important;
        text-align: center;
        font-size: 40px;
        letter-spacing: 0.18em;
    }
}